{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-gradient">
                    <h4 class="mb-0 text-white">Iniciar Sesión</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-animate">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
